*.o
*.lo
*.a
*.la
*.pc
*.gcda
*.gcno
*.gcov
.*.swp
.deps
.libs
Makefile
Makefile.in
config.*
aclocal.m4
autom4te.cache
default.apspec
doc
configure
depcomp
install-sh
libtool
ltmain.sh
mingw32-skstream.spec
missing
ping/ping
skstream.spec
skstream*.pc
skstream/skstreamconfig.h
stamp-h1
test/skstreamtestrunner
tools/skstream-cat
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
