*.o
*.lo
*.a
*.la
*.pc
*.gcda
*.gcno
*.gcov
.*.swp
.deps
.libs
Makefile
Makefile.in
config.*
aclocal.m4
autom4te.cache
default.apspec
doc
configure
depcomp
install-sh
libtool
ltmain.sh
missing
skstream.spec
skstream*.pc
skstream/skstreamconfig.h
stamp-h1
